<%= form_for participation do |f| %>
  <!-- TODO insert article_id in div? -->
  <%= f.hidden_field :event_id %>
  <div class="participant">
    <%= f.label :article_id, "Participant" %>
    <%= f.collection_select :article_id, articles, :id, :name %>
  </div>
  <%= f.submit "Add" %>
<% end %>
