<%= form_for participation,
  url: participation.id ? participation_path(participation.id) : participations_path,
  method: participation.id ? :put : :post do |f| %>
  <!-- TODO insert article_id in div? -->
  <%= f.hidden_field :event_id %>
  <div class="content">
    <%= f.label :content, "Comment" %>
    <%= f.text_field :content %>
  </div>
  <div class="participant">
    <%= f.label :participant_id, "Participant" %>
    <%= f.collection_select :participant_id, articles, :id, :name, include_blank:true %>
  </div>
  <%= f.submit participation.id ? "Update" : "Add" %>
<% end %>
