<div class="note">

  <h2><%= @note.text %></h2>

  <ul class='references'>
    <% @references.each do |reference| %>
      <%= render reference %>
    <% end %>
  </ul>

  <%= form_for @reference do |f| %>
    <%= f.hidden_field :note_id %>
    <%= f.label :image %>
    <%= f.file_field :image %>
    <%= f.label :comment %>
    <%= f.text_field :comment %>
    <%= f.label :url %>
    <%= f.text_field :url %>
    <%= f.submit "Create Reference" %>
  <% end %>

  <%= form_for @tag do |f| %>
    <%= f.hidden_field :tagable_id %>
    <%= f.hidden_field :tagable_type %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.submit "Create Tag" %>
  <% end %>


</div>
