<% present relation do |presenter| %>

<li class="relation">
  <%= content_tag :span, class:["target", presenter.target_gender].join(" ") do %>
    <%= presenter.target %>
  <% end %>
  <span class="type"><%= presenter.type %></span>
  <span class="actions">
    <span class="edit"><%= presenter.edit_link %></span>
    <span class="invert"><%= presenter.invert_link %></span>
  </span>
  -
  <span class="references comments"><%= presenter.references_comments %></span>
</li>

<% end %>
