<% present @relation do |presenter| %>

<div class="relation">
  <h1><%= presenter.title %></h1>
  &larr;
  <%= content_tag :span, class:["origin", presenter.origin_gender].join(" ") do %>
    <%= presenter.origin %>
  <% end %>
  |
  <%= content_tag :span, class:["target", presenter.target_gender].join(" ") do %>
    <%= presenter.target %>
  <% end %>
  &rarr;

  <div class="actions">
    <span class="invert"><%= presenter.invert_link %></span>
  </div>

  <%= render @references %>

  <div class="reference new form">
    <h2>Add Reference</h2>
    <%= render "references/form", reference:@reference %>
  </div>
</div>

<% end %>
