<%= form_for article,
  url: article.id ? article_path(article.id) : articles_path,
  method: article.id ? :put : :post do |f| %>
  <div class="name">
    <%= f.label :name %>
    <%= f.text_field :name %>
    <% unless article.errors.get(:name).empty? %>
      <span class="errors"><%= article.errors.get(:name).join %></span>
    <% end %>
  </div>

  <div class="type">
    <%= f.label :type %>
    <%= f.select :type, options_for_select(article_types, article.type), include_blank:true %>
    <% unless article.errors.get(:type).empty? %>
      <span class="errors"><%= article.errors.get(:type).join %></span>
    <% end %>
  </div>

  <div class="gender">
    <%= f.label :gender %>
    <%= f.select :gender, options_for_select([["Neutral","n"],["Male","m"],["Female","f"]], article.gender) %>
  </div>

  <%= f.submit article.id ? "Update" : "Create" %>
<% end %>
