<% present @article do |presenter| %>

<div class="article">
  <h1><%= @article.name %></h1>

  <ul class='notes'>
    <%= render @notes %>
  </ul>

  <div class="relations">
    <%= render partial:"relations/group",
               collection:presenter.relation_groups, as: :group %>
  </div>

  <div class="relation new form">
    <%= render "relations/form", relation:@relation, targets:@targets %>
  </div>

  <div class="note new form">
    <%= render "notes/form", note:@note %>
  </div>

</div>

<% end %>
