<% present @article do |presenter| %>

<div class="article">
  <h1><%= @article.name %></h1>

  <ul class='notes'>
    <%= render @notes %>
  </ul>

  <% unless @events.empty? %>
    <div class="events list">
      <h2>Events</h2>
      <ul class="events"><%= render @events %></ul>
    </div>
  <% end %>

  <!-- dont show relations if there are no relations -->
  <div class="relations list">
    <h2>Relations</h2>
    <ul class="relations">
      <%= render @relations %>
    </ul>
  </div>

  <div class="relation new form">
    <%= render "relations/form",
        relation:@relation, targets:@targets, relation_types:@relation_types %>
  </div>

  <div class="note new form">
    <%= render "notes/form", note:@note %>
  </div>

</div>

<% end %>
