<% present @article do |presenter| %>

<div class="article">
  <h1><%= @article.name %></h1>

  <ul class='notes'>
    <%= render @notes, tag_id:nil %>
  </ul>

  <ul class='tags'>
    <%= render @article_tags %>
  </ul>

  <% unless @events.empty? %>
    <div class="events list">
      <h2>Events</h2>
      <ul class="events"><%= render @events %></ul>
    </div>
  <% end %>

  <% if @article.citations.present? or @article.inverse_citations.present? %>
    <div class="citations list">
      <h2>Citations</h2>
      <ul class="citations inverse right_arrow">
        <%= render partial:"citations/inverse_citation",
            collection:@article.inverse_citations, as: :citation %>
      </ul>
      <ul class="citations direct left_arrow">
        <%= render @article.citations %>
      </ul>
      <div class="clear"></div>
    </div>
  <% end %>

  <!-- dont show relations if there are no relations -->
  <div class="relations list">
    <h2>Relations</h2>
    <ul class="relations">
      <%= render @relations %>
    </ul>
  </div>

  <div class="note new form">
    <%= render "notes/form", note:@note %>
  </div>

  <div class="relation new form">
    <%= render "relations/form",
        relation:@relation, targets:@relation_targets, relation_types:@relation_types %>
  </div>

  <div class="citation new form">
    <%= render "citations/form", citation:@citation, targets:@citation_targets %>
  </div>

  <div class="tagging new form">
    <%= render "taggings/form", tagging:@tagging, tags:@tags %>
  </div>

</div>

<% end %>
