<div class="article">
  <h2><%= @article.name %></h2>

  <ul class='notes'>
    <% @notes.each do |note| %>
      <%= render note %>
    <% end %>
  </ul>

  <%= form_for @note do |f| %>
    <%= f.hidden_field :article_id %>
    <%= f.label :text, 'Note' %>
    <%= f.text_field :text %>
    <%= f.submit "Create" %>
  <% end %>

</div>
