<div class="event new form">

  <h1>New Event</h1>

  <%= form_for @event do |f| %>
    <div class="title">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
    <div class="parent">
      <%= f.label :parent_id %>
      <%= f.collection_select :parent_id, @events, :id, :title %>
    </div>
    <%= f.submit %>
  <% end %>

</div>
