<% present @event do |presenter| %>

<div class="event">
  <h1><%= @event.title %></h1>

  <div class="parents list">
    <h2>Parents</h2>
    <ul class="parents"><%= render @event.parents %></ul>
  </div>

  <div class="children list">
    <h2>Children</h2>
    <ul class="children"><%= render @event.children %></ul>
  </div>

  <div class="remarks list">
    <h2>Remarks</h2>
    <ul class="remarks"><%= render @remarks %></ul>
  </div>

  <div class="participants list">
    <h2>Participants</h2>
    <ul class="participants"><%= render @event.participants %></ul>
  </div>
</div>

<div class="remark new form">
  <%= render "remarks/form", remark:@remark, event_id:@event.id %>
</div>

<div class="parent step new form">
  <%= render "steps/form", step:@parent_step, parents:@parents %>
</div>

<div class="participation new form">
  <%= render "participations/form", participation:@participation, articles:@articles %>
</div>

<% end %>
