<% present @event do |presenter| %>

<div class="event">
  <h1><%= @event.title %></h1>

  <ul class="parents"><%= render @event.parents %></ul>
  <ul class="children"><%= render @event.children %></ul>
  <div class="clear"></div>

  <div class="notes list">
    <h2>Notes</h2>
    <ul class='notes'><%= render @notes, tag_id:nil %></ul>
  </div>

  <div class="participations list">
    <h2>Participants</h2>
    <ul class="participations"><%= render @participations %></ul>
  </div>

  <div class="mentions list">
    <h2>Mentions</h2>
    <ul class="mentions"><%= render @mentions %></ul>
  </div>
</div>

<div class="note new form">
  <%= render "notes/form", note:@note %>
</div>

<div class="parent step new form">
  <%= render "steps/form", step:@parent_step, parents:@parents %>
</div>

<div class="participation new form">
  <%= render "participations/form", participation:@participation, articles:@articles %>
</div>

<% end %>
