<%= form_for mention do |f| %>
  <%= f.hidden_field :origin_id %>
  <div class="mention">
    <%= f.label :target_id, "Mention" %>
    <%= f.collection_select :target_id, mentions, :id, :title, include_blank:true %>
  </div>
  <%= f.submit "Add" %>
<% end %>
