<%= form_for remark,
  url: remark.id ? remark_path(remark.id) : remarks_path,
  method: remark.id ? :put : :post do |f| %>
  <%= hidden_field_tag :event_id, event_id %>
  <div class="content">
    <%= f.label :content, "Remark" %>
    <%= f.text_area :content %>
  </div>
  <%= f.submit remark.id ? "Update" : "Add" %>
<% end %>
